
# Coverage directory used by testing tools
coverage/

# Dependency directories
jspm_packages/

node_modules

# TypeScript files
*.tsbuildinfo

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.local
.env.*.local

# Build files
dist/
build/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn

# MacOS and Windows system files
.DS_Store
Thumbs.db